<!DOCTYPE html>
<html>
  <head>
    <title>AirAle</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <link href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>

    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>



  </head>
  <body>

  	 <%= render 'shared/navbar' %>
     <%= render 'shared/message' %>

     <div class="container">
     	<%= yield %>
     </div> 
  </body>
</html>
